/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of adminDashboard.css
   |
   ├─ 1. global


    /* --------------------------------------------------------------------------
        1. global
    -------------------------------------------------------------------------- */
    .wrapp {
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }

    .admin-title {
        padding-bottom: 1.5em;
        padding-top: 1rem;
        border-bottom: 1px solid #dbd8d0;
        margin-bottom: 1.25rem;
    }

    .cardd {
        background-color: white;
        border-radius: 20px;
        padding: 15px;
    }

    .white {
        color: white;
    }