/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of adminAuction.css
   |
   ├─ 1. admin order header
   ├─ 2. container

    /* --------------------------------------------------------------------------
        1. admin order header
    -------------------------------------------------------------------------- */

    #admin_order_title{
        width: 100%;
        display: flex;
        padding: 0% 2%;
    }

    hr{
        margin: 0;
    }

    .search_bar{
        width: 25%;
        margin-left: 65%;
        margin-top: 0.5%;
    }

    #search_btn{
        border: none;
        background-color: black;
        color: white;
        height: 1.8em;
        width: 5em;
    }

    #searchbar:focus{
        outline: 2px solid black;
    }

    /* --------------------------------------------------------------------------
        2. container
    -------------------------------------------------------------------------- */
    .orders_container, .bottom_container{
        width:100%;
    }

    .top_container{
        margin-left: 2%;
    }

    .bottom_container .row{
        width: 100%;
        margin: 0% 0% 2% 0%;
    }

    .orders_container hr{
        margin-bottom: 2%;
    }

    /* --------------------------------------------------------------------------
        3. content
    -------------------------------------------------------------------------- */
    .sorted_btn{
        width: 6em;
        height: 2em;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid black;
        margin: 1.5% 0% 1.5% 1%;
    }

    .sorted_btn:hover{
        background-color:black;
        color: white;
    }

    .sorted_btn_active{
        width: 6em;
        height: 2em;
        background-color: black;
        color: white;
        border-radius: 20px;
        border: none;
        margin: 1.5% 0% 1.5% 1%;
    }

    .user_order_top{
        display: flex;
        width: 100%;
    }

    .user_order{
        width: 90%;
        margin: 2% 5%;
        border: 2px solid black;
        border-radius: 15px;
    }

    .user_order_username{
        margin: 2% 0% 2% 5%;
    }

    .user_order_orderId{
        margin: 2% 5% 2% 53%;
    }

    .user_order_details{
        display: flex;
        border: 1px solid black;
        margin: 0% 5% 5% 5%;
    }

    .user_order_img{
        height: 8em;
        margin: 2%;
        border: 1px solid black;
    }

    .user_order_product_name{
        width: 50%;
        margin: 10% 2% 5% 2%;
        font-weight: bold;
    }

    .user_order_quantity{
        margin: 10% 2% 5% 2%;
        font-weight: bold;
    }

    .user_order_status{
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }

    .user_order_bottom{
        width: 100%;
        display: flex;
    }

    .user_order_bottom_btn{
        width: 33.33333333333333333%;
        height: 3em;
    }

    .arrange_btn{
        background-color:transparent;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 0px 15px;
        border-top: 1px solid black;
        border-right: 1px solid black;
    }

    .view_btn{
        background-color: transparent;
        border: none;
        margin: 0%;
        width: 100%;
        height: 100%;
        border-top: 1px solid black;
    }

    .cancel_btn{
        background-color:transparent;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 0px 0px 15px 0px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        color: red;
    }

    .modal_cross{
        background-color: transparent;
        border: none;
        height: 2.1em;
        width: 2.1em;

    }

    .cross_svg{
        height:1.5em;
        width:1.5em;
    }

