/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of base.css
   |
   ├─ 1. global
   ├─ 2. navbar
   ├─ 3. footer

    /* --------------------------------------------------------------------------
        1. global
    -------------------------------------------------------------------------- */
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #FBFAF5;
        color: #111;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
    }

    a, a:hover {
        color: #111;
        text-decoration: none;
    }

    .navEmpty {
        padding-top: 15vh;
    }

    /* --------------------------------------------------------------------------
        2. navbar
    -------------------------------------------------------------------------- */
    .nav__left {
        position: relative;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 50;
        padding: 1rem 1.375rem;
    }

    /* add later*/
    .nav__scroll {
        position: fixed;
        top: 0;
        left: 0;
        border-color: #111;
        background: #fbfaf4;
        transition: color 1s cubic-bezier(.72,0,.28,1),background .65s cubic-bezier(.72,0,.28,1);
    }

    .nav__right {
        display: flex;
        align-items: center;
    }

    .nav__right a {
        padding: 1rem 0.75rem;
    }

    .nav__right a svg {
        width: 15px;
    }

    #navbarNav, .navbar-brand{
        font-size: 0.9rem;
    }

    .navbar-brand {
        margin-right: 25em;
    }

    /* --------------------------------------------------------------------------
        3. footer
    -------------------------------------------------------------------------- */
    .tom-footer__founders {
        margin:3.125rem 0 2.75rem
    }

    .tom-footer__lower {
        background:#fbfaf4
    }

    .tom-footer__lower-inner {
        padding:1rem 1.25rem
    }

    .tom-footer__store-selector {
        display: flex;
        justify-content: space-between;
        align-items:baseline
    }

    .tom-footer__store-selector-title {
        font-size: .75rem;
        text-transform:uppercase
    }

    .tom-footer__copyright {
        margin: 0;
        opacity: .3;
        font-size:.75rem
    }

    @media only screen and (min-width: 750px) {
        .tom-footer__founders {
            order: 3;
            margin-bottom:0
        }

        .tom-footer__copyright.is-mobile {
            display:none
        }

        .tom-footer__store-selector-select {
            margin-left:1.25rem
        }

        .tom-footer__lower-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:1rem 1.75rem
        }
    }

    @media only screen and (min-width: 1100px) {
        .tom-footer__founders.is-small {
            font-size:.6875rem
        }

        .tom-footer__lower-inner {
            padding:1.25rem 7.32%
        }
    }

    @media only screen and (min-width: 1350px) {
        .tom-footer__lower-inner {
            padding:1.625rem 7.32%
        }

        .tom-footer__store-selector {
            margin-left:3rem
        }

        .tom-footer__store-selector-title {
            font-size: .75rem;
            margin-right: 1.75rem;
            text-decoration:none
        }

        .tom-footer__store-selector-title.is-link {
            display:block
        }

        .tom-footer__store-selector a:hover, .tom-footer__store-selector-title.is-active {
            text-decoration:underline
        }

        .tom-footer__founders {
            margin:0 0 0 auto
        }
    }

    @media only screen and (min-width: 1650px) {
        .tom-footer__lower-inner {
            padding: 2rem 10%;
            max-width: 125rem;
            margin:0 auto
        }

        .tom-footer__store-selector {
            margin-left:4rem
        }

        .tom-footer__founders.is-small, .tom-footer__store-selector-title {
            font-size:.75rem
        }
    }

    @media only screen and (min-width: 2000px) {
        .tom-footer__lower-inner {
            padding:2.25rem 12.5rem
        }
    }