/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of base.css
   |
   ├─ 1. global
   ├─ 2. navbar
   ├─ 3. footer

    /* --------------------------------------------------------------------------
        1. global
    -------------------------------------------------------------------------- */
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #FBFAF5;
        color: #111;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        line-height: 1.5;
    }

    a, a:hover {
        color: #111;
        text-decoration: none;
    }

    .navEmpty {
        padding-top: 15vh;
    }

    /* --------------------------------------------------------------------------
        2. navbar
    -------------------------------------------------------------------------- */
    .tom-navv {
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
        /*position: absolute;*/
        width: 100%;
    }

    .nav__left {
        position: relative;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 50;
        padding: 1rem 1.375rem;
    }

    /* add later*/
    .nav__scroll {
        position: fixed;
        top: 0;
        left: 0;
        border-color: #111;
        background: #fbfaf4;
        transition: color 1s cubic-bezier(.72,0,.28,1),background .65s cubic-bezier(.72,0,.28,1);
    }

    .nav__right {
        display: flex;
        align-items: center;
    }

    .nav__right a {
        padding: 1rem 0.75rem;
    }

    .nav__right a svg {
        width: 20px;
    }
