.tom-navv {
    position: static;
}


#container {
    text-align: center;
    width: 100%;
}

.form-container {
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 1px;
    text-align: center;
}

input[type=number] {
    border-bottom: 2px solid #000000;
}

input[type=text] {
    border-bottom: 2px solid #000000;
}

.submit-btn {
    padding: 1% 2% 1% 2%;
    background-color: black;
    border: none;
    color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}


.offer-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.whitespace {
        height: 20vh;
    }

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 75%;
  height: 90%;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.login,
.image {
  min-height: 90vh;
}
