* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FBFAF5;
    font-size: 1rem;
}

/* Navbar */
.tom-nav {
    padding: 1rem 1.375rem;
}

/* Footer */
footer {
    /*background-color: #eee6d3;*/
}

.footerLink {
    color: #4f4f4f;
}

.o-topbar {
    display: flex;
    padding: 0 2.125rem;
    align-items: center;
    background: 0 0;
    z-index: 50;
    height: 2.5rem;
    background: #fbfaf4;
}

.o-topbar svg {
    width: .9375rem;
    margin-right: 0.5rem;
}

.o-topbar div {
    font-size: .6875em;
}

.tom-nav {
    display: flex;
    width: 1600px ;
    justify-content: space-between;
}