/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of cart.css
   |
   ├─ 1. cart-header
   ├─ 2. cart-items

    /* --------------------------------------------------------------------------
        1. cart-header
    -------------------------------------------------------------------------- */
    .cart-title {
        margin-bottom: 2em;
    }

    .product-list {
        padding-bottom: 1.25rem;
    }

    .product {
        border-top: 1px solid #dbd8d0;
        padding-top: 1rem;
        border-bottom: 1px solid #dbd8d0;
        margin-bottom: 1.25rem;
        padding-bottom: 1rem;
    }
