/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of checkout.css
   |
   ├─ 1. cart-header
   ├─ 2. cart-items
   ├─ 3. game link

    /* --------------------------------------------------------------------------
        1. cart-header
    -------------------------------------------------------------------------- */
    .content {
        overflow: hidden;
    }

    .wrap {
        display: block;
        margin: 0 auto;
        max-width: 40em;
    }

    @media (max-width: 999px) {
        .wrap {
            width: 100%;
            box-sizing: border-box;
            padding:0 1em
        }
    }

    @media (min-width: 1000px) {
        .wrap {
            padding: 0 5%;
            width: 90%;
            max-width:78.5714285714em
        }
    }

    .cart-header {
        width: 638px;
        padding-right: 6%;
        float: left;
        padding-top: 4rem;
    }

    .cart-brand {
        font-size: 30px;
    }

    .breadcrumb {
        margin-top: 1em;
    }

    .breadcrumb-item {
        font-size: 12px;
    }

    .info {
        margin-bottom: 1.5em;
    }

    .section__title {
        font-size: 18px;
    }

    .section__details {
        font-size: 14px;
    }

    .dynamic-checkout {
        padding-bottom: 2em;
    }

    .dynamic-checkout__title {
        color: #71716e;
        font-size: 1em;
        font-weight: 500;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        text-align:center
    }

    .dynamic-checkout__title::before, .dynamic-checkout__title::after {
        content: '';
        border: 1px #e2e1dc solid;
        border-bottom: 0;
        height: 0.5em;
        flex:1 0 2em
    }

    .dynamic-checkout__title::before {
        border-right: 0;
        border-top-left-radius: 5px;
        margin-right:1em
    }

    .dynamic-checkout__title::after {
        border-left: 0;
        border-top-right-radius: 5px;
        margin-left:1em
    }

    .dynamic-checkout__content {
        border: 1px #e2e1dc solid;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding:0.9285714286em 1.4285714286em 1.4285714286em
    }

    label {
        display: none;
    }

    .form-group {
        padding: 0.4285714286em;
    }

    .field__input {
        border: 1px transparent solid;
        border-radius: 5px;
        padding: 0.6285714286em 0.7857142857em;
        word-break: normal;
        line-height: inherit;
        background-color: #fbfbf5;
        color: #323231;
        border-color: #d5d5cf;
    }

    .half-field {
        width: 49.5%;
    }

    @media (min-width: 750px) {
        .step__footer {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
    }

    @media (min-width: 750px) {
        .step__footer {
            margin-top: 1.5em;
        }
    }

    .btn__content, .step__footer__previous-link-content {
        font-size: 14px;
    }

    .step__footer__previous-link svg {
        height: 10px;
    }

    .step__footer__previous-link-content {
        vertical-align: middle;
    }

    .hehe {
        padding-bottom: 4rem;
    }

    .main__footer {
        padding: 1em 0;
        border-top: 1px solid #e2e1dc;
    }

    .policy-list li {
        list-style: none;
        font-size: 12px;
    }

    /* --------------------------------------------------------------------------
        2. cart-items
    -------------------------------------------------------------------------- */
    .cart-details {
        width: 38%;
        padding-left: 4%;
        background-position: left top;
        float: right;
        padding-top: 4rem;
        position: relative;
    }

    @media (min-width: 1000px) {
        .cart-details {
            width: 38%;
            padding-left: 4%;
            background-position: left top;
        }
    }

    .product {
        padding-bottom: 1.5em;
        font-size: 14px;
    }

    .discount {
        border-top: 1px solid rgba(167,165,159,0.34);
        border-bottom: 1px solid rgba(167,165,159,0.34);
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .len {
        width: 100%;
    }

    .discount button {
        background: #bebdb6;
        color: white;
        width: 88px;
        height: 46px;
        margin-left: 0.8571428571em;
    }

    .shipping {
        font-size: 14px;
    }

    .subtotal, .total  {
        border-top: 1px solid rgba(167,165,159,0.34);
        padding-top: 1.5em;
        font-size: 14px;
    }

    .c-cart-drawer__tree {
        background: #eeece3;
        padding: .75rem .75rem .75rem 1rem;
        margin: 1.75rem 0 1rem;
    }

    .c-cart-drawer__tree-header {
        display: flex;
        align-items:center
    }

    .c-cart-drawer__tree-icon {
        width: 1.25rem;
        margin-right:.625rem
    }

    .c-cart-drawer__tree-icon path {
        fill:#111
    }

    .c-cart-drawer__tree-title {
        margin:.375rem 0 0
    }

    .c-cart-drawer__tree-message {
        margin-top:.5em
    }

    .c-cart-drawer__tree-message a {
        font-weight: 400;
    }

    .order-summary-toggle {
        display: none;
    }

    @media only screen and (max-width: 999px) {
          .order-summary-toggle {
               display: block;
               background: #f6f5ef;
               border-top: 1px solid #e2e1dc;
               border-bottom: 1px solid #e2e1dc;
               padding: 1.25em 0;
               flex-shrink: 0;
               text-align: left;
               width:100%
          }
    }

    @media only screen and (max-width: 1300px) {
           .cart-details {
               display: none;
          }
    }

    /* --------------------------------------------------------------------------
        3. game link
    -------------------------------------------------------------------------- */
    #click_here_game{
        font-weight: bold;
        text-decoration: underline;
    }