/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of game.css
   |
   ├─ 1. navigation bar
   ├─ 2. forget container
   ├─ 3. content

    /* --------------------------------------------------------------------------
        1. navigation bar
    -------------------------------------------------------------------------- */

    .tom-navv {
        position: static;
    }

    /* --------------------------------------------------------------------------
        2. forget container
    -------------------------------------------------------------------------- */

    .forget_container{
        display: flex;
        width: 100%;
    }

    .forget_img_container{
        padding: 5%;
        width: 50%;
    }

    .forget_form_container{
        width: 50%;
        padding: 5% 5% 10% 20%;
    }

    /* --------------------------------------------------------------------------
        3. content
    -------------------------------------------------------------------------- */

    #email, #NewPass, #confirmPass, #otpField{
        margin-top: 10%;
        padding-left: 1%;
        width:70%;
        height:100%;
        background-color: transparent;
        border:none;
        border-bottom: 1.5px solid black;
    }

    #email:focus, #NewPass:focus, #confirmPass:focus, #otpField:focus{
        outline: none;
    }

    .forget_img_container img{
        width: 65%;
    }

    .btn{
        font-size: 0.9em;
        background-color: #C4C4C4;
        border-radius: 25px;
    }

    #resetBtn{
        width: 5em;
        height: 2.3em;
        border-radius: 5px;
        background-color: black;
        color: white;
        border: none;
        margin-top: 5%;
    }