/* NYP Y1S2 2021 - 2022 APP DEVELOPMENT PROJECT

   Structure of game.css
   |
   ├─ 1. navigation bar
   ├─ 2. game container
   ├─ 3. content

    /* --------------------------------------------------------------------------
        1. navigation bar
    -------------------------------------------------------------------------- */

    .tom-navv {
        position: static;
    }

    /* --------------------------------------------------------------------------
        2. game container
    -------------------------------------------------------------------------- */

    .game_card_container, .top_container{
        display: flex;
    }

    .center_container{
        text-align: center;
    }

    .game_card_container{
        width: 100%;
        padding-left: 10%;
    }

    .top_container{
        width:100%;

    }
    .top_left_container{
        width:50%;
        margin:2% 0% 2% 15%;
    }

    .top_right_container{
        width:50%;
        margin: 5% 0% 2% 42.5%;
        float: right;
    }

    .game_box_container{
        margin: 4% 4% 4% 6%;
        width: 15em;
        height: 15em;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        background-color: lightgrey;
        cursor: pointer;
    }

    #leaderboard_link_container{
        margin-top: 5%;
    }

    /* --------------------------------------------------------------------------
        3. content
    -------------------------------------------------------------------------- */

    #HTPBtn{
        width:50%;
        height: 2em;
        background-color: black;
        color: white;
        border: none;
    }

    .card_button{
        border: none;
        background-color: lightgrey;
    }

    .flipped{
        transform: rotateY(180deg);
    }

    .cursor_disabled{
        cursor: not-allowed;
    }

    .default_cursor{
        cursor: default;
    }

    .card_front, .card_back{
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
    }

    .card_back{
        text-align: center;
        margin-top: 26%;
        transform: rotateY(180deg);
    }

    .center_para{
        font-weight: 530;
    }

    .question_mark{
        margin: 32.5%;
        width: 35%;
        height: 35%;
    }

    #backLink{
     margin-bottom: 3.5%;
     font-size: 1.2em;
     font-weight: bold;
    }

    #back_btn:hover{
        text-decoration: underline;
    }

    .modal_cross{
        background-color: transparent;
        border: none;
        height: 2.1em;
        width: 2.1em;

    }

    .cross_svg{
        height:1.5em;
        width:1.5em;
    }

    .claim_btn{
        height: 15%;
        width: 30%;
        border-radius: 20px;
        border: none;
        background-color: black;
        color: white;
        box-shadow: none;
    }

    .claim_btn:hover{
        background-color: white;
        color: black;
        box-shadow:  2px 3px 5px gray;
    }

    #leaderboard_link{
        background-color: black;
        color: white;
        margin-top: 2%;
        padding: 2.5% 8.5%;
    }

    #points_credits{
        border: 1.5px solid black;
        padding: 5% 0% 0% 3.5%;
        width: 60%;
    }