.tom-banner {
    position: relative;
    display: block!important;
    width: 100%;
}

.tom-banner-overlay {
    padding: 0;
    width: 37.5%;
    max-width: 43.75rem;
    top: 40%;
    left: 50.4%;
    transform: translateY(-50%);
}

.tom-banner-overlay {
    position: absolute;
}

.tom-banner-subtitle {
    margin: 1.5rem auto 0;
    max-width: 15rem;
}