.tom-navv {
    position: static;
}

/*.col{
border: 1px solid;
}
*/

.container-login{
margin-left: 10%;
margin-right: 10%;
margin-bottom: 10%;
}

.form-login-field{
background: transparent;
border: none;
padding-right: 70%;
border-radius: 1px;
}

.form-login-field-name{
background: transparent;
border: none;
padding-right: 40%;
border-radius: 1px;
}

.form-login-field-name{
background: transparent;
border: none;
padding-right: 20%;
border-radius: 1px;
}

input[type=email] {
    border-bottom: 1px solid #000000;
    padding-right: 70%;
}

input[type=password] {
    border-bottom: 1px solid #000000;
    padding-right: 70%;
}

input[type=date] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #000000;
}

.form-login {
    margin-left: 20%;
}

#first-name, #last-name{
padding-right: 20%;
display: inline-block
}

#last-name{
margin-left: 5%;
}

.forget-pw{
text-align: right;
font-size: 70%;
font-weight: bold;
}

.submit-login {
    padding: 2% 4% 2% 4%;
    background-color: black;
    border: none;
    color: white;
    border-radius: 8px;
}
