<div class="tom-footer__lower">
    <div class="tom-footer__lower-inner">
        <p class="tom-footer__copyright ">Copyright © 2022 Tom Patterson All rights reserved.</p>
        <div class="tom-footer__store-selector">
            <a href="" class="tom-footer__store-selector-title is-link">Sze Yan</a>
            <a href="" class="tom-footer__store-selector-title is-link">Stefanie</a>
            <a href="" class="tom-footer__store-selector-title is-link ">Yee Ping</a>
            <a href="" class="tom-footer__store-selector-title is-link">Dylan</a>
        </div>
        <p class="tom-footer__founders is-small">NYP Y1S2 2021 - 2022 App Development Project</p>
    </div>
</div>