<div class="tom-navv">
    <div class="nav__left">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin">OVERVIEW</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminAuction">AUCTION</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminSupplier">SUPPLIER</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminOrders">ORDERS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminUser">USER</a></li>
                    <li class="nav-item"><a class="nav-link" href="/adminProductManagement">PRODUCT MANAGEMENT</a></li>
                </ul>
            </div>
        </nav>

        <a class="navbar-brand" href="/">Tom Patterson</a>

        <div class="nav__right">
            <a href="#" title="Search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path d="M15.06781 7.51208C15.06781 3.37131 11.68671 0 7.5339 0 3.3811 0 0 3.37131 0 7.51208c0 4.14082 3.3811 7.51212 7.5339 7.51212 1.7723 0 3.38764-.6391 4.67599-1.6694l4.65572 4.6422c.07074.0706 1.220723-1.1433 1.129208-1.2346L13.3936 12.1745c1.0333-1.2846 1.67421-2.89525 1.67421-4.66242zM1.6742 7.51216c0-3.23437 2.6159-5.84273 5.8597-5.84273 3.24372 0 5.85965 2.60836 5.85965 5.84273 0 3.23434-2.61593 5.84274-5.85965 5.84274-3.2438 0-5.8597-2.6084-5.8597-5.84274z" fill="#111" fill-rule="evenodd"></path></svg></a>
            <a href="../login" title="Account"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 18"><path d="M3.2002 4.8c0-2.6437 2.1562-4.8 4.8-4.8 2.6437 0 4.8 2.1563 4.8 4.8s-2.1563 4.8-4.8 4.8-4.8-2.1563-4.8-4.8zm7.9996.0001c0-1.775-1.425-3.2-3.2-3.2-1.775 0-3.2 1.425-3.2 3.2 0 1.775 1.425 3.2 3.2 3.2 1.775 0 3.2-1.425 3.2-3.2zM8 9.6001c-4.4063 0-8 3.5937-8 8h1.6c0-3.5438 2.8562-6.4 6.4-6.4 3.5438 0 6.4 2.8562 6.4 6.4H16c0-4.4063-3 5937-8-8-8z" fill="#111" fill-rule="evenodd"></path></svg></a>
        </div>
    </div>
</div>
