<footer class="tom-footer">
    <div class="tom-footer__inner">
        <div class="tom-footer__logo"><img src="../../static/images/Tom Patterson Logo.png"/></div>
        <div class="tom-footer__newsletter-container">
            <div class="tom-newsletter tom-footer__newsletter">
                <h4 class="tom-newsletter__title" style="margin-bottom: 1.5rem;">Subscribe</h4>
                <form method="post" action="" class="tom-footer__newsletter">
                    <div class="tom-newsletter__content">
                        <svg style="width: 35px; margin-right: 1.5rem;" viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg" class="o-icon o-icon--tree tom-newsletter__icon" data-icon=""><path d="M7.69502.070361L7.7117 0l3.6375 7.19094L15 14.4224h-4.9669V16H5.35832v-1.344H0L7.69502.037205V.07036zM7.45957 14.1926V1.50403L.783203 14.1926H7.45957z" fill="black" fill-rule="evenodd"></path></svg>
                        <p class="tom-newsletter__subscribe-message">Subscribe for inspiring stories, offers, and news.</p>
                    </div>
                    <div class="tom-newsletter__input-container" style="margin-top: 2.5rem;">
                        <input type="email" placeholder="Enter your email" class="o-input is-full-width tom-newsletter__input">
                        <button type="submit" class="tom-newsletter__submit"><svg viewBox="0 0 43 12" xmlns="http://www.w3.org/2000/svg" class="o-icon o-icon--btn-arrow tom-newsletter__submit-icon"><path d="M0 5h37l-.0411-5L43 6l-6.0411 6L37 7H0z" fill="#111" fill-rule="nonzero"></path></svg></button>
                    </div>
                </form>
            </div>
        </div>

        <nav class="tom-footer-menu">
            <ul class="tom-footer-menu__column">
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
            </ul>

            <ul class="tom-footer-menu__column">
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
                <li class="tom-footer-menu__link-item"><a href="" class="tom-footer-menu__link">Shop All</a></li>
            </ul>
        </nav>
    </div>

    <div class="tom-footer__lower">
        <div class="tom-footer__lower-inner">
            <p class="tom-footer__copyright ">Copyright © 2022 Tom Patterson All rights reserved.</p>
                <div class="tom-footer__store-selector">
                    <a href="" class="tom-footer__store-selector-title is-link">Sze Yan</a>
                    <a href="" class="tom-footer__store-selector-title is-link">Stefanie</a>
                    <a href="" class="tom-footer__store-selector-title is-link ">Yee Ping</a>
                    <a href="" class="tom-footer__store-selector-title is-link">Dylan</a>
                </div>
            <p class="tom-footer__founders is-small">NYP Y1S2 2021 - 2022 App Development Project</p>
        </div>
    </div>
</footer>