{% extends "base.html" %}
{% block title %}Tom Patterson - Register{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="https://kit.fontawesome.com/50ba020d7f.js" crossorigin="anonymous"></script>
{% endblock %}

{% block bodyContent %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="blurb-text">
                <h5><i class="fa-solid fa-tree"></i>[] Trees Planted</h5>
                <p>Tom Patterson was born in 2021 on a half-year semester road trip from SengKang to Ang Mo Kio. Founders Sze Yan and Stefanie spent as much time in nature as possible and met the rest of us founders, Yee Ping, Kabilash and Dylan, along the journey.</p>
                <p>Immersing ourselves in nature reminded us of the impact we have on the environment and our responsibility to minimise our carbon footprint.</p>
                <p>We realised business was the most impactful way to revolutionise the future of fashion. And so every time you support Tom Patterson, you are funding GRCs to plant 3 trees, offsetting your impact, and nourishing ecosystems.</p>
                </div>
            </div>
            <div class="col-6">
                <div class="blurb-img">
                    <img src="../static/images/banner.jpg">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

