{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin){% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/adminDashboard.css"/>
{% endblock %}

{% block bodyContent %}
    <div class="wrapp">
        <div class="admin-title">
            <div class="d-flex justify-content-between">
                <h2>Sales</h2>
                <div class="dropdown">
                      <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                </div>
            </div>
        </div>

        <div class="adminDashboard">
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="">
                              <div class="row g-0">
                                    <div class="col-6">
                                        <div class="p-1">
                                            <div class="card white" style="background: linear-gradient(to right, rgba(243,144,52,1) , rgba(255,39,39,1));">
                                                <h3 class="title">Auction</h3>
                                                <p class="value">56</p>
                                                <p class="remarks">Quantity</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="p-1">
                                            <div class="card white" style="background: linear-gradient(to right, rgba(0,210,84,1), rgba(0,179,235,1));">
                                                <h3 class="title">Trees Planted</h3>
                                                <p class="value">240381</p>
                                                <p class="remarks">Quantity</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="p-1">
                                            <div class="card">
                                                <h3 class="title">Out of stock products</h3>
                                                <p class="value">89.00</p>
                                                <p class="remarks">Quantity</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="p-1">
                                            <div class="card">
                                                <h3 class="title">All Products</h3>
                                                <p class="value">267.00</p>
                                                <p class="remarks">Quantity</p>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 card">
                        <canvas id="myChart"></canvas>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script src="../static/js/areachart.js"></script>
                    </div>
                </div>
            </div>

            <div>
                  <div class="row">
                        <div class="col-4">
                            <div class="p-1">
                                <div class="card">
                                    <h3 class="title">Latest Sales Orders</h3>
                                    <nav class="navbar navbar-light bg-light">
                                        <form class="form-inline">
                                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                        </form>
                                    </nav>
                                    <table class="table table-hover">
                                          <thead>
                                              <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">First</th>
                                                  <th scope="col">Last</th>
                                                  <th scope="col">Handle</th>
                                              </tr>
                                          </thead>
                                        <tbody>
                                              <tr>
                                                  <th scope="row">1</th>
                                                  <td>Mark</td>
                                                  <td>Otto</td>
                                                  <td>@mdo</td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">2</th>
                                                  <td>Jacob</td>
                                                  <td>Thornton</td>
                                                  <td>@fat</td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">3</th>
                                                  <td colspan="2">Larry the Bird</td>
                                                  <td>@twitter</td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">4</th>
                                                  <td colspan="2">Larry the Bird</td>
                                                  <td>@twitter</td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">5</th>
                                                  <td colspan="2">Larry the Bird</td>
                                                  <td>@twitter</td>
                                              </tr>
                                          </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="p-1">
                                <div class="card">
                                    <h3 class="title">Purchase Orders</h3>
                                    <p class="value">267.00</p>
                                    <p class="remarks">Quantity</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="p-1">
                                <div class="card">
                                    <h3 class="title">Top Selling Products</h3>
                                    <p class="value">267.00</p>
                                    <p class="remarks">Quantity</p>
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}