{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin) Admin Management {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/adminBase.css">
<link rel="stylesheet" type="text/css" href="../static/css/adminAdminManagement.css">
{% endblock %}

{% block bodyContent %}
<div>
    <b class="page-title">Admins Management</b>
    <a class="add-account" href="/adminAccountCreation">Create a new Admin account</a>
</div>


<hr style="height: 2px;">

<table class="cust-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Employee ID</th>
    </tr>
    <tr>
        <td colspan="6"><hr></td>
    </tr>
{% for admin in admin_list %}
    <tr>
        <td><img src="../static/images/Default_picture.jpg" class="profile-pic"> {{ admin.get_admin_id() }}</td>
        <td>{{ admin.get_first_name() }} {{ admin.get_last_name() }}</td>
        <td>{{ admin.get_email() }}</td>
        <td>{{ admin.get_employee_id() }}</td>
        <td class="delete-button">
            <button type="button" class="btn btn-danger"><a href="/adminAdminUpdate/{{admin.get_admin_id()}}/" class="edit-button">Edit</a></button>
        </td>
        <td class="delete-button">
            <form action="{{url_for('delete_admin', id=admin.get_admin_id())}}" method="POST">
            <!-- will change to the X symbol ltr ~dylan -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{admin.get_admin_id()}}">
                       Delete
                </button>
                <div class="modal" id="myModal_{{admin.get_admin_id()}}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h4 class="modal-title">Delete Confirmation</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>


                          <div class="modal-body">
                            Are you sure you want to delete {{admin.get_first_name()}} {{admin.get_last_name()}}?
                          </div>

                          <div class="modal-footer">
                            <input type="submit" value="Delete" class="btn btn-danger">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    <tr><td colspan="6"><hr></td></tr>
    {% endfor %}
</table>
{% endblock %}
