{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin) Product Management{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/adminBase.css">
    <link rel="stylesheet" type="text/css" href="../static/css/adminAdminManagement.css">
{% endblock %}

{% block bodyContent %}
    <div>
        <b class="page-title">Product Management</b>
        <a class="add-account" href="/adminProductCreation">Create a new product</a>
    </div>
{% endblock %}

