{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin) Auction{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/adminBase.css">
  <link rel="stylesheet" type="text/css" href="../static/css/adminAuction.css">
{% endblock %}

{% block bodyContent %}
<div id="admin_auction_title">
  <h1>Auction</h1>
  <a href="/createAuction" id="addAuction_btn">Add Auction</a>
</div>

<hr>

<div class="ongoing">
  <h2 id="ongoing_title">Ongoing</h2>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Auction ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Base Amount</th>
        <th scope="col">Minimum Amount</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Current Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% if ongoing == "" %}
        <td colspan="7">There are currently no ongoing auction</td>
        {% else %}
        <th scope="row">{{ ongoing.get_auction_id() }}</th>
        <td>{{ ongoing.get_name() }}</td>
        <td>{{ ongoing.get_price() }}</td>
        <td>{{ ongoing.get_minimum_amount() }}</td>
        <td>{{ ongoing.get_start_date() }}</td>
        <td>{{ ongoing.get_end_date() }}</td>
        <td>{{ ongoing.get_total() }}</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>

<div class="upcoming">
  <h2 id="upcoming_title">Upcoming</h2>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Auction ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Base Amount</th>
        <th scope="col">Minimum Amount</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% if upcoming == [] %}
        <tr>
          <td colspan="7">There are currently no upcoming auction</td>
        </tr>
      {% else %}
      {% for auction in upcoming %}
      <tr>
        <th scope="row">{{ auction.get_auction_id() }}</th>
        <td>{{ auction.get_name() }}</td>
        <td>{{ auction.get_price() }}</td>
        <td>{{ auction.get_minimum_amount() }}</td>
        <td>{{ auction.get_start_date() }}</td>
        <td>{{ auction.get_end_date() }}</td>
        <td>
          <a href="/updateAuction/{{ auction.get_auction_id() }}" id="update_btn" class="btn">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 5 290 200" style="enable-background:new 0 0 194.436 194.436;" xml:space="preserve">
              <g>
                  <path d="M192.238,34.545L159.894,2.197C158.487,0.79,156.579,0,154.59,0c-1.989,0-3.897,0.79-5.303,2.196l-32.35,32.35
                      c-0.004,0.004-0.008,0.01-0.013,0.014L54.876,96.608c-1.351,1.352-2.135,3.166-2.193,5.076l-1.015,33.361
                      c-0.063,2.067,0.731,4.068,2.193,5.531c1.409,1.408,3.317,2.196,5.303,2.196c0.076,0,0.153-0.001,0.229-0.004l33.36-1.018
                      c1.909-0.058,3.724-0.842,5.075-2.192l94.41-94.408C195.167,42.223,195.167,37.474,192.238,34.545z M154.587,61.587L132.847,39.85
                      l21.743-21.743l21.738,21.741L154.587,61.587z M89.324,126.85l-22.421,0.685l0.682-22.422l54.655-54.656l21.741,21.738
                      L89.324,126.85z"/>
                  <path d="M132.189,117.092c-4.142,0-7.5,3.357-7.5,7.5v54.844H15.001V69.748h54.844c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.5-7.5-7.5
                      H7.501c-4.142,0-7.5,3.357-7.5,7.5v124.687c0,4.143,3.358,7.5,7.5,7.5h124.687c4.142,0,7.5-3.357,7.5-7.5v-62.344
                      C139.689,120.449,136.331,117.092,132.189,117.092z"/>
              </g>
            </svg>
          </a>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_{{auction.get_auction_id()}}">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" id="modal_{{auction.get_auction_id()}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                  <!--  <span aria-hidden="true">&times;</span>-->
                  <!--</button>-->
                </div>
                <div class="modal-body">
                  Are you sure you want to delete {{ auction.get_name() }}?
                </div>
                <div class="modal-footer">
                  <form action="{{url_for('delete_auction', id=auction.get_auction_id())}}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <!--<td>-->
        <!--  <a href="/updateAuction/{{ auction.get_auction_id() }}" class="btn btn-warning">Update</a>-->
        <!--</td>-->
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}

