{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin) Auction{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/adminBase.css">
  <link rel="stylesheet" type="text/css" href="../static/css/adminAuction.css">
{% endblock %}

{% block bodyContent %}
<div id="admin_auction_title">
  <h1>Auction</h1>
  <a href="/createAuction" id="addAuction_btn">Add Auction</a>
</div>

<hr>

<div class="ongoing">
  <h2 id="ongoing_title">Ongoing</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Auction ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Base Amount</th>
        <th scope="col">Minimum Amount</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% if ongoing == "" %}
        <td colspan="7">There are currently no ongoing auction</td>
        {% else %}
        <th scope="row">{{ ongoing.get_auction_id() }}</th>
        <td>{{ ongoing.get_name() }}</td>
        <td>{{ ongoing.get_price() }}</td>
        <td>{{ ongoing.get_minimum_amount() }}</td>
        <td>{{ ongoing.get_start_date() }}</td>
        <td>{{ ongoing.get_end_date() }}</td>
        <td>{{ ongoing.get_total() }}</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</div>

<div class="upcoming">
  <h2 id="upcoming_title">Upcoming</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Auction ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Base Amount</th>
        <th scope="col">Minimum Amount</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% if upcoming == [] %}
        <tr>
          <td colspan="7">There are currently no upcoming auction</td>
        </tr>
      {% else %}
      {% for auction in upcoming %}
      <tr>
        <th scope="row">{{ auction.get_auction_id() }}</th>
        <td>{{ auction.get_name() }}</td>
        <td>{{ auction.get_price() }}</td>
        <td>{{ auction.get_minimum_amount() }}</td>
        <td>{{ auction.get_start_date() }}</td>
        <td>{{ auction.get_end_date() }}</td>
        <td>
          <a href="/updateAuction/{{ auction.get_auction_id() }}" class="btn btn-warning">Update</a>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}

