{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin){% endblock %}

{% block bodyContent %}
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Sales</h2>
            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>


    </div>

{% endblock %}