{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin) Customer Management{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/base.css">
<link rel="stylesheet" type="text/css" href="../static/css/adminCustManagement.css">

{% endblock %}

{% block bodyContent %}
<div class="page-title">
    <b>Customer Management</b>
</div>
<hr style="height: 2px;">
<table border="1" class="cust-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Points</th>
        <th>Birthdate</th>
    </tr>
    <tr>
        <td colspan="5"><hr></td>
    </tr>
    {% for customer in customer_list %}
    <tr>
        <td>{{ customer.get_customer_id() }}</td>
        <td>{{ customer.get_first_name() }} {{ customer.get_last_name() }}</td>
        <td>{{ customer.get_email() }}</td>
        <td>{{ customer.get_points() }}</td>
        <td>{{ customer.get_birth_date() }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
