{% extends "base.html" %}
{% block title %}Tom Patterson - Create Bid{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<br>
<br>
<div class="container-login">
    <form method="POST" class="form">
        <h1>Create Bid</h1>
        <br><br>
        <div class="form-login-field">

            {{ render_field(form.bidAmount, class="form-check") }}
        </div>
        <br><br><br>
        <div class="form-login-field">

        </div>
        {% if error %}
        <p style="color: red; font-size: 80%;"><strong></strong> {{error}}</p>
        {% endif %}
        <br><br><br>
        <button type="submit" name="makeBid" value="Submit" class="submit-login">Submit</button>
    </form>

    </div>
{% endblock %}
