{% extends "base.html" %}
{% block title %}Tom Patterson - Shop{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bag1.css">
{% endblock %}

{% block bodyContent %}
    <div class="navEmpty"></div>
    <div class="shopHeader">
        <div class="toptext">
            <h5>ALL BAGS</h5>
            <p>To carry with your fingertips or slipped under your arm, these bags add the ultimate touch of sophistication and femininity to every outfit.
            Available in styles and colours designed to suit any situation, they guarantee elegance for all occasions.</p>
        </div>
    </div>
    <div class="navEmpty"></div>
    <div class="product-container">
        <div class="container-fluid">
            {% from "includes/formHelper.html" import render_field %}
            <div class="row">
                <div class="col-md-6">
                    <div class="product-img">
                    <img src="../static/images/1-urth-arkose-20l-backpack-grey_1000x@2x.png" alt="Norite 24L Modular Bag">
                    <p id="img-text">Everyday Backpack</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-info">
                    <h3>Tom Patterson<br>{{ product[x].get_name() }}</h3>
                    <p id="title">{{ product[x].get_description() }}</p>
                    <hr>
                    <h5>$30</h5>
                    <p>Free Shipping and Returns</p>

                    <div class="product-help">
                        <a href="/productFAQ"><p>Check availability</p></a>
                        <a href="/productFAQ"><p>Product Details</p></a>
                        <a href="/productFAQ"><p>Customer Support Page</p></a>
                        <a href="/productFAQ"><p>Contact us at +65 12345678</p></a>
                        <table>
                            <form method=post action="">
                                {{ product[x].get_product_id() }}
                                {{ render_field(form.name, default=product[x].get_name()) }}
                                {{ render_field(form.description, default=product[x].get_description()) }}
                                {{ render_field(form.price, default=product[x].get_price()) }}
                                {{ render_field(form.quantity, default=1) }}
                                {{ render_field(form.category, default=product[x].get_category()) }}
                                {{ render_field(form.discount, default=0) }}
                                <input type=submit value="Add to Cart">
                            </form>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
