{% extends "base.html" %}
{% block title %}Tom Patterson - Cart (Empty){% endblock %}

{% block bodyContent %}
    <style>
        .tom-navv {
            background-image: url(none);
        }
    </style>

    <div class="container mx_auto" style="width: 200px; height: 43.6vh; text-align: center; position: relative; top: 50%;">
        <div>
            <p>Empty</p>
            <a class="btn btn-outline-primary" href="/" role="button">Return to Shop</a>
        </div>
    </div>    
{% endblock %}