{% extends "base.html" %}
{% block title %}Tom Patterson - Cart (Empty){% endblock %}

{% block bodyContent %}
    <style>

    </style>

    <div class="container wrap">
        <div class="cart-header">
            <a href="/">Tom Patterson</a>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Cart</a></li>
                    <li class="breadcrumb-item active">Information</li>
                    <li class="breadcrumb-item" aria-current="page">Shipping</li>
                    <li class="breadcrumb-item" aria-current="page">Payment</li>
                </ol>
            </nav>

        </div>

        <div class="cart-details">
            hi
        </div>
    </div>
{% endblock %}