{% extends "adminBase.html" %}
{% block title %}Tom Patterson - (Admin) Auction{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/createAuction.css">
{% endblock %}

{% block bodyContent %}
<div id="create_auction_title">
  <h1>Create Auction</h1>
</div>

<hr>

<div class="create_auction_container">

  <div class="img_container">
    <img src="../static/images/bags.png" alt="bag">
  </div>

  <div class="form_container">
    <form action="" method="post">
      <div id="productName">
        <!--<div>-->
        <!--  <label for="pName">Product Name:</label>-->
        <!--</div>-->
        <div>
          <input id="pName" type="text" placeholder="Product Name">
        </div>
      </div>
      <div id="baseAmt">
        <!--<div>-->
        <!--  <label for="bAmt">Base Amount:</label>-->
        <!--</div>-->
        <div>
          <input id="bAmt" type="number" placeholder="Base Amount">
        </div>
      </div>
      <div id="minimumAmt">
        <!--<div>-->
        <!--  <label for="mAmt">Minimum Amount:</label>-->
        <!--</div>-->
        <div>
          <input id="mAmt" type="number" placeholder="Minimum Amount" min="10">
        </div>
      </div>
      <div class="date_container">
        <div>
          <label for="startDate">Start Date:</label>
        </div>
        <div>
          <input id="startDate" type="date" name="Start Date">
        </div>
      </div>
      <div class="date_container">
        <div>
          <label for="endDate">End Date:</label>
        </div>
        <div>
          <input id="endDate" type="date" name="End Date">
        </div>
      </div>
      <div id="description">
        <div>
          <label for="desc">Description:</label>
        </div>
        <div>
          <textarea name="description" id="desc" cols="30" rows="5" placeholder="Enter product description"></textarea>
        </div>
      </div>
      <div>
        <input id="create_btn" type="submit" value="Create">
      </div>
    </form>
  </div>
</div>

{% endblock %}

