{% extends "base.html" %}
{% block title %}Tom Patterson - Forget Password{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/forgetPassword.css">
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<div class="forget_container">
    <div class="forget_form_container">
        <form action="" method="POST">
            <h1>Forget Password</h1>

            <div class="field_div">
                {{ render_field(form.email) }}
            </div>
            <div class="field_div">
                {{ render_field(form.newPass) }}
            </div>
            <div class="field_div">
                {{ render_field(form.confirmPass) }}
            </div>
            <div id="otp_div" class="field_div">
                {{ render_field(form.otp) }}
                <!--<input type="submit" value="Get OTP">-->
                <!--<button>Get OTP</button>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn"  data-target="#exampleModal" data-toggle="modal">
                  Get OTP
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Your OTP is {{ otpNum }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <div>
                <input type="submit" value="Reset" id="resetBtn">
            </div>
        </form>
    </div>
    <div class="forget_img_container">
        <img src="../static/images/forgetPassImg.png" alt="Forget Password Images">
    </div>
</div>

{% endblock %}
