{% extends "base.html" %}
{% block title %}Tom Patterson - Home{% endblock %}

{% block bodyContent %}
    <div class="tom-header"> 
        <section>
            <div>
                <a href="#" class="tom-banner">
                    <div class="tom-banner-media-container">
                        <video class="tom-banner-media" autoplay loop preload width="100%">
                            <source src="../static/images/Tom-Header_1.mp4" type="video/mp4">
                        </video>
                    </div>

                    <div class="tom-banner-overlay">
                        <h1>Tom Art</h1>
                        <p class="tom-banner-subtitle">Introducing a considered curation of limited edition fine art NFTs with real-world impact.</p>
                    </div>
                </a>
            </div>
        </section>
    </div>

    <div>
        hi
    </div>
{% endblock %}