{% extends "base.html" %}
{% block title %}Tom Patterson - Home{% endblock %}

{% block bodyContent %}
    <div class="tom-header"> 
        <section>
            <div>
                <a href="#" class="tom-banner">
                    <div class="tom-banner-media-container">
                        <video class="tom-banner-media" autoplay loop preload width="100%">
                            <source src="../static/images/Tom-Header_1.mp4" type="video/mp4">
                        </video>
                    </div>

                    <div class="tom-banner-overlay">
                        <h1>Tom Art</h1>
                        <p class="tom-banner-subtitle">Introducing a considered curation of limited edition fine art NFTs with real-world impact.</p>
                    </div>
                </a>
            </div>
        </section>
    </div>

    <div class="c-section__home-messaging container"> 
        <section class="c-home-messaging is-tall">
            <h2 class="c-home-messaging__message">We exist to empower <span class="has-bold">creators and make a lasting</span> positive impact.</h2>
        </section>
    </div>

    <div class="container toptop">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/Auction.png" alt="Auction">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/Freelance Design.png" alt="Freelance">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/bags.png" alt="Bags">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
            </div>
        </div>
    </div>
{% endblock %}