{% extends "base.html" %}
{% block title %}Tom Patterson - Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}

{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<br>
<br>
<div class="container-login">
    <form method="POST" class="form-login">
        <h1>Log in</h1>
        <br><br>
        <div class="form-login-field">
            {{ render_field(form.login_email, class="form-login-field") }}
        </div>
        <br><br><br>
        <div class="form-login-field">
            {{ render_field(form.login_password, class="form-login-field") }}
        </div>
        {% if error %}
        <p style="color: red; font-size: 80%;"><strong></strong> {{error}}</p>
        {% endif %}
        <br><br><br>
        <button type="submit" name="submit_button" value="Log in" class="submit-login">Log in</button>
    </form>
    <p class="register-link">
        <a href="#" class="forgot-link-click">Forget password?</a>
    </p>
    <p class="register-link">
        Not yet a member? Click <a href="/register" class="register-link-click">HERE</a> to register
    </p>
    <a href="/adminAccountCreation">admin</a>

    <br><br>

    </div>
{% endblock %}
