{% extends "base.html" %}
{% block title %}Tom Patterson - Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock %}
{% block bodyContent %}
{% from "includes/formHelper.html" import render_field %}
<br>
<br>
<div class="container-login">
    <div class="row">

        <div class="col">
            <form method="POST" class="form-login">
                <h1>Log in</h1>
                <br><br><br><br>
                <input type="email" placeholder="Email Address" id="login-email">
                <br><br><br><br>
                <div>
                    <input type="password" placeholder="Password" id="login-password">
                    <br>
                    <a href="#" class="forget-pw">Forget password</a>
                </div>
                <br><br><br>
                <input type="submit" value="Log in">
            </form>
            <br>
            <br>
        </div>

        <div class="col">
            <form method="POST" class="form-login">
                <h1>Register</h1>
                <br><br><br><br>
                <input type="text" placeholder="First Name" id="first-name" >
                <input type="text" placeholder="Last Name" id="last-name" >
                <br><br><br><br>
                <input type="date" id="birthdate">
                <br><br><br><br>
                <input type="email" placeholder="Email Address" id="register-email">
                <br><br><br><br>
                <input type="password" placeholder="Password" id="register-password">
                <br><br><br><br>
                <input type="password" placeholder="Confirm Password" id="confirm-password">
                <br><br><br><br>
                <input type="submit" value="Create An Account">
            </form>
        </div>

    </div>
    </div>
{% endblock %}
