{% extends "base.html" %}
{% block title %}Tom Patterson - Shop{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mainshop.css">
{% endblock %}

{% block bodyContent %}
    <div class="navEmpty"></div>
    <div class="shopHeader">
        <div class="toptext">
            <h5>ALL BAGS</h5>
            <p>To carry with your fingertips or slipped under your arm, these bags add the ultimate touch of sophistication and femininity to every outfit.
            Available in styles and colours designed to suit any situation, they guarantee elegance for all occasions.</p>
        </div>
    </div>
{% endblock %}
