<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/base.css">
        <link rel="stylesheet" type="text/css" href="../static/css/checkout.css">
        <link rel="stylesheet" type="text/css" href="../static/css/payment.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
            .tom-navv {
                background-image: url(none);
            }
        </style>
    </head>

    <body>
        {% from "includes/formHelper.html" import render_field %}
        <form class="container wrap content">
            <div class="cart-header">
                <a class="cart-brand" href="/">Tom Patterson</a>

                <div class="order-summary-toggle">
                    <span class="wrap">
                        <span class="order-summary-toggle__inner">
                            <span class="order-summary-toggle__icon-wrapper"><svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon"><path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path></svg></span>
                            <span class="order-summary-toggle__text order-summary-toggle__text--show">
                                <span>Show order summary</span>
                                <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000"><path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path></svg>
                            </span>
                            <span class="order-summary__emphasis total-recap__final-price skeleton-while-loading" data-checkout-payment-due-target="29285">€292.85</span>
                        </span>
                    </span>
                </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                        <li class="breadcrumb-item"><a href="/checkout">Shipping</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payment</li>
                    </ol>
                </nav>

                <table class="table table-borderless review">
                    <tbody>
                        <tr style="margin-top: 0.8571428571em;padding-top: 0.8571428571em;border-top: 1px solid #e2e1dc;">
                            <td style="font-size: 14px">Contact</td>
                            <td style="font-size: 14px">{{ ship[0] }}</td>
                            <td style="font-size: 14px"><a href="/checkout">Change</a></td>
                        </tr>
                        <tr style="margin-top: 0.8571428571em;padding-top: 0.8571428571em;border-top: 1px solid #e2e1dc;">
                            <td style="font-size: 14px">Ship to</td>
                            <td style="font-size: 14px">{{ ship[1] }}</td>
                            <td style="font-size: 14px"><a href="/checkout">Change</a></td>
                        </tr>
                    </tbody>
                </table>

                <div class="hehe" style="padding-top: 3em;">
                    <div class="form-row">
                        <h2 class="section__title" tabindex="-1">Payment</h2>

                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Credit card
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="form-group">{{ render_field(form.card_num, class="form-control field__input") }}</div>
                                        <div class="form-group">{{ render_field(form.name_card, class="form-control field__input") }}</div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                {{ render_field(form.expire, class="col half-field field__input") }}
                                                {{ render_field(form.ccv, class="col half-field field__input") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Others
                                        </button>
                                      </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="blank-slate">
                                            <p class="shown-if-js">After clicking “Complete order”, you will be redirected to PayPal to complete your purchase securely.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="step__footer">
                            <button type="submit" class="btn btn-primary btn-dark" style="width: 187px; height: 58px;"><span class="btn__content">Pay Now</span></button>
                            <a class="step__footer__previous-link" href="/checkout"><svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path></svg><span class="step__footer__previous-link-content">Return to Shipping</span></a>
                        </div>
                    </div>
                </div>

                <footer class="main__footer">
                    <ul class="policy-list d-flex justify-content-between align-items-center">
                        <li class="policy-list__item "><a href="#">Refund policy</a></li>
                        <li class="policy-list__item "><a href="#">Shipping policy</a></li>
                        <li class="policy-list__item "><a href="#">Privacy policy</a></li>
                        <li class="policy-list__item "><a href="#">Terms of service</a></li>
                    </ul>
                </footer>
            </div>

            <div class="cart-details">
                <div class="product">
                    {% for products in cart_list %}
                        <div class="d-flex justify-content-between align-items-center p-1">
                            <img class="product-thumbnail__image" src="../../static/images/1-urth-arkose-20l-backpack-grey_1000x@2x.png" width="64" height="64">
                            <div class="product__description">
                                <span class="product__description__name">{{ products.get_name() }}</span>
                            </div>
                            <p class="product__price"><span class="order-summary__emphasis">${{ products.get_price() }}</span></p>
                        </div>
                    {% endfor %}
                </div>

                <div class="discount d-flex align-items-center">
                    {{  render_field(form.discount, class="field__input len")  }}
                    <button type="button" class="btn">Apply</button>
                </div>

                <div class="subtotal d-flex justify-content-between align-items-center">
                    <p>Subtotal</p>
                    <p>${{ subtotal }}</p>
                </div>

                <div class="shipping d-flex justify-content-between align-items-center">
                    <p>Shipping</p>
                    <p>$4</p>
                </div>

                <div class="total d-flex justify-content-between align-items-center">
                    <p>Total</p>
                    <p>${{ grandtotal }}</p>
                </div>
            </div>
        </form>
    </body>
</html>